<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7sDk0Q1hdl3_wxg9XKw4FJvrhQVBFwuw" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Find A Bar" />
        <activity
            android:name=".ActivitySix"
            android:label="Drink Detail"
            android:exported="false" />
        <activity
            android:name=".ActivityFive"
            android:parentActivityName=".DrinkPage"
            android:label="Drink List"
            android:exported="false" />
        <activity
            android:name=".ActivityThree"
            android:parentActivityName=".MainActivity"
            android:label="Favorite Drinks"
            android:exported="false" />
        <activity
            android:name=".DrinkPage"
            android:parentActivityName=".MainActivity"
            android:label="Select An Ingredient"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:label="Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>